<!--home.ejs-->

<section>
    <div class="container">
      <h1 class="title">Q-Pon </h1>
      <p class="subtitle">Redeem your coins for dining coupons.</p>
    </div>
  </section>

  <br />
  <br />

<table class="table is-bordered is-striped is-hoverable is-fullwidth">

    <div class="container">
        <div class="columns">
            <div class="column">
                <div calss="column">
                    <strong>
                        <div>HK Island</div>
                    </strong>
                    <% HKIsland.forEach( function(web) { %>
                    <div class="card">
                        <div class="card-image">
                            <figure class="image ">
                                <img src="<%= web.image %>">
                            </figure>
                        </div>
                        <div class="card-content">
                            <a href="http://localhost:1337/web/read/<%= web.id %>">
                                <strong>
                                    <p><%= web.restaurant %></p>
                                </strong>
                            </a>
                            <p><%= web.title %></p>
                            <br>
                            <p>Coins: <%= web.coins %></p>

                        </div>
                    </div>
                    <br>
                    <% }); %>
                </div>
            </div>
            <div class="column">
                <div calss="column">
                    <strong>
                        <div>Kowloon</div>
                    </strong>
                    <% Kowloon.forEach( function(web) { %>
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="<%= web.image %>">
                            </figure>
                        </div>
                        <div class="card-content">
                            <a href="http://localhost:1337/web/read/<%= web.id %>">
                                <strong>
                                    <p><%= web.restaurant %></p>
                                </strong>
                            </a>
                            <p><%= web.title %></p>
                            <br>
                            <p>Coins: <%= web.coins %></p>

                        </div>

                    </div>
                    <br>
                    <% }); %>
                </div>
            </div>
            <div class="column">
                <div calss="column">
                    <strong>
                        <div>New Territories</div>
                    </strong>
                    <% NT.forEach( function(web) { %>
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="<%= web.image %>">
                            </figure>
                        </div>
                        <div class="card-content">
                            <a href="http://localhost:1337/web/read/<%= web.id %>">
                                <strong>
                                    <p><%= web.restaurant %></p>
                                </strong>
                            </a>
                            <p><%= web.title %></p>
                            <br>
                            <p>Coins: <%= web.coins %></p>
                        </div>

                    </div>
                    <br>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>

</table>

<script>
    document.addEventListener('DOMContentLoaded', () => {
  
  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  
  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {
  
    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {
  
        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);
  
        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
  
      });
    });
  }
  
  });
  </script>